<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>O Meni</title>

    <link rel="stylesheet" href="/assets/css/sub-style.css">
</head>

<body>
    <h1>Aljaž Kosirnik</h1>
    <div id="linki">
        <a href="/">Domov</a>
        <a href="/o-meni">O meni</a>
        <a href="/moji-projekti">Moji projekti</a>
        <a href="/blog">Blog</a>
        <a href="/kontakt">Kontakt</a>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit vero quisquam explicabo voluptatibus, possimus
            numquam reprehenderit eveniet eum fugiat ullam magni at quod cum incidunt autem doloremque ipsa sequi
            commodi pariatur porro, non tempora! Veniam blanditiis tempore enim repudiandae animi atque quis unde
            repellat eligendi excepturi, dicta porro sapiente itaque sed dolores cum quae praesentium eum sint.
            Obcaecati similique odio ullam earum facere consequuntur harum temporibus ipsa, vel, dolor quam,
            necessitatibus incidunt sit voluptates totam officiis delectus illo placeat quia deserunt dolore laboriosam
            iure. Quo error nulla cum distinctio! Qui dicta eos, quia eum est fugiat mollitia inventore ipsum
            reiciendis!</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis magnam, dolor voluptatem at voluptas
            consequatur distinctio? Aliquid, ex dignissimos error eum nihil dolor quas nisi necessitatibus distinctio,
            aspernatur dolorem fugiat quia sint perferendis. Officiis, facilis rerum impedit, quam repellendus hic
            harum velit totam soluta incidunt a quo distinctio explicabo unde?</p>
    </div>
</body>

</html>